@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

:root {
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
}

/* Start Page */

@keyframes cursor_ani {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrow_down_ani {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(-5px);
  }
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: url(../assets/img/background.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  z-index: 2;
}

#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

#home .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#home .content {
  font-size: 2.5rem;
  line-height: 2;
  transform: translateY(-1rem);
}

.content p {
  padding: 0 1.5rem;
}

.typing {
  position: relative;
}

.typing::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  width: 5px;
  height: 80%;
  background: #fff;
  transform: translateY(-50%);
  animation: cursor_ani 0.6s alternate linear infinite;
}

.space {
  padding-left: 1rem;
}

.content strong {
  font-size: 3rem;
  font-weight: 600;
}

.next-page {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
}

.fa-chevron-down {
  animation: arrow_down_ani 1s linear infinite;
}

.page-guide {
  font-size: 0.8rem;
  text-align: center;
}

/* Main */
#main {
  position: relative;
  width: 100%;
}

/* Header */
#header {
  position: relative;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #222;
  text-transform: uppercase;
}

.navbar a {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  height: 100%;
}

.nav-item a {
  transition: 0.35s ease-in-out;
}

.nav-item a:hover {
  transform: scale(1.2);
}

.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.logo {
  position: absolute;
  top: 15.5px;
  left: 10px;
  display: none;
  width: 30px;
  height: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hamburger-menu {
  position: absolute;
  top: 15.5px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #222;
  pointer-events: none;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #222;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  /* Home */

  /* Header */
  #header {
    transition: 0.5s linear;
  }

  #header.show {
    height: 265px;
  }
  .navbar {
    position: absolute;
    top: 61px;
    flex-direction: column;
    height: 0;
    padding: 0;
    font-size: 2rem;
    overflow: hidden;
    transition: 0.5s linear;
  }

  .show .navbar {
    height: 204px;
  }

  .navbar a {
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(215, 215, 215, 0.3);
    padding: 1.5rem 0;
  }

  .navbar a:hover {
    background-color: rgba(34, 34, 34, 0.9);
    color: #fff;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    height: max-content;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item.nav-item:not(:last-child) {
    margin-right: 0;
  }
  .nav-item a {
    justify-content: center;
  }
  .nav-item a:hover {
    transform: none;
  }

  .logo {
    display: block;
  }

  .hamburger-menu {
    display: flex;
  }
}
