@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

:root {
  --vh: 0;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

/* Scroll bar */

::-webkit-scrollbar {
  position: absolute;
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* Start Page */

@keyframes cursor_ani {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrow_down_ani {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(-5px);
  }
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: url(../assets/img/background.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  z-index: 2;
}

#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

#home .container {
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: unset;
  height: 100%;
  padding-top: 0;
}

#home .content {
  font-size: 2.5rem;
  line-height: 2;
  transform: translateY(-1rem);
}

.content p {
  padding: 0 1.5rem;
}

.typing {
  position: relative;
}

.typing::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 5px;
  height: 80%;
  background: #fff;
  transform: translateY(-50%);
  animation: cursor_ani 0.6s alternate linear infinite;
}

.space {
  padding-left: 1rem;
}

.content strong {
  font-size: 3rem;
  font-weight: 600;
}

.next-page {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
}

.fa-chevron-down {
  animation: arrow_down_ani 1s linear infinite;
}

.page-guide {
  font-size: 0.8rem;
  text-align: center;
}

/* Main */
#main {
  position: relative;
  width: 100%;
}

#main section {
  padding: calc(5rem + 61px) 0 5rem;
}

/* Header */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  z-index: 20;
}

.fixed #header {
  position: fixed;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #222;
  text-transform: uppercase;
}

.navbar a {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  height: 100%;
}

.nav-item a {
  transition: 0.35s ease-in-out;
}

.nav-item a:hover {
  transform: scale(1.2);
}

.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.logo {
  position: absolute;
  top: 15.5px;
  left: 10px;
  display: none;
  width: 30px;
  height: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hamburger-menu {
  position: absolute;
  top: 15.5px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #222;
  pointer-events: none;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #222;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

/* About */

.title {
  margin-bottom: 80px;
  font-size: 2rem;
  font-weight: 600;
  color: #0c154a;
  cursor: default;
}

.profile {
  position: relative;

  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 80px;
  cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(40, 40, 40, 0.8);
  color: #fff;
  font-weight: 600;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.profile-details:hover {
  opacity: 1;
}

.details-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.details-list li {
  padding: 0.25rem 0;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  width: 100%;
}

.skill-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 100px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s linear;
  cursor: pointer;
}

.icon::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #0c154a;
  border-radius: 50%;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: 0.3s linear;
}

.icon:hover.icon::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.icon i {
  font-size: 3rem;
  color: #516279;
}

.column-content {
  text-align: center;
}

.column-title {
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.column-desc {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.6);
  word-break: keep-all;
}

.column-desc strong {
  display: block;
  font-weight: 600;
}

.enter {
  display: block;
}

/* Projects */

#projects {
  background: #f3f3f3;
}

#projects .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.project-division {
  position: relative;
  align-self: flex-end;
  display: flex;
  margin-bottom: 80px;
  border: 1px solid rgba(215, 215, 215, 0.7);
  border-radius: 15px;
  overflow: hidden;
}

.project-division::before,
.project-division::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1px;
  height: 60%;
  background-color: rgba(215, 215, 215, 0.7);
  transform: translateY(-50%);
}

.project-division::before {
  left: 33.33%;
}

.project-division::after {
  left: 66.66%;
}

.division-btn {
  min-width: 85px;
  width: max-content;
  padding: 0 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.division-btn.selected {
  color: #fff;
  background-color: #222;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 280px;
  gap: 25px;
  width: 100%;
  padding: 1rem 0;
  transition: all 0.3s;
}

.project-list.ani-out {
  opacity: 0;
  transform: scale(0.96) translate3d(0, 40px, 0);
}

.project-list.front .project-column[data-category="back"] {
  display: none;
}

.project-list.back .project-column[data-category="front"] {
  display: none;
}

.project-column {
  width: 100%;
  transition: 0.3s linear;
}

.column-content {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 8px;
  background-color: #fff;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.project-info img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  pointer-events: none;
}

.project-title {
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}

.project-desc {
  position: relative;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  text-align: start;
  pointer-events: none;
}

.project-desc span {
  font-size: 16px;
  color: #666;
}

.fa-chevron-right {
  position: absolute;
  top: 35%;
  right: 5%;
  font-size: 30px;
  color: rgba(215, 215, 215, 0.7);
  opacity: 0;
  transition: 0.3s ease-out;
}

.column-content:hover .fa-chevron-right {
  opacity: 1;
  transform: translateX(-60%);
}

/* Contact */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-70%);
  }
  60% {
    transform: translateY(-35%);
  }
}

#contact {
  min-height: calc(100vh - 70px);
}

#contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

#contact .text {
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
}

.send-email {
  position: relative;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  transition: 0.2s linear;
  color: #222;
}

.send-email::after {
  content: "xodnd9503@gmail.com";
  position: absolute;
  top: 0;
  left: 0;
  color: #ffc82c;
  clip-path: polygon(0 -100%, 100% -100%, 100% 0, 0 0);
  transition: 0.4s linear;
}

.send-email:hover {
  transform: scale(0.9);
}

.send-email:hover.send-email::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#contact .sub-text {
  font-size: 1.2rem;
}

.send-email:hover + .sub-text {
  animation: bounce 1s ease-out;
}

/* Footer */
#footer {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: #222;
}

#footer .content {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  color: #fff;
}
#footer .content-top {
  position: absolute;
  top: -50%;
  display: flex;
  width: 100px;
  height: 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: #222;
  transition: 0.2s linear;
}

#footer .content-top:hover {
  transform: translateY(-5%);
}

.back-to-top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

.back-to-top i {
  pointer-events: none;
}

#footer .content-bottom {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
  font-size: 0.8rem;
}

.git-link-btn {
  position: absolute;
  right: 0;
  margin-left: 1rem;
  cursor: pointer;
}

.git-link-btn i {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  /* About */
  .skills {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  .skill-column {
    padding: 0 10vw;
  }

  .column-desc {
    font-size: 1.1rem;
  }

  /* Projects */
  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  /* Contact */
}

@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }

  section {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }
  /* Home */

  #home {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  #home .content {
    font-size: 1rem;
  }

  .content strong {
    font-size: 1.5rem;
  }

  .content p {
    padding: 0 0.3rem;
  }

  .space {
    padding-left: 0.5rem;
  }

  /* Main */

  /* Header */
  #header {
    padding: 0;
    transition: 0.5s linear;
    overflow: hidden;
  }

  #header.show {
    height: 265px;
  }
  .navbar {
    position: absolute;
    top: 61px;
    flex-direction: column;
    justify-content: flex-start;
    height: 0;
    padding: 0;
    font-size: 1rem;
  }

  .show .navbar {
    height: 204px;
  }

  .navbar a {
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(215, 215, 215, 0.3);
    padding: 0.75rem 0;
    height: auto;
  }

  .navbar a:hover {
    background-color: rgba(34, 34, 34, 0.9);
    color: #fff;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    height: auto;
  }

  .nav-item.nav-item:not(:last-child) {
    margin-right: 0;
  }
  .nav-item a {
    justify-content: center;
  }
  .nav-item a:hover {
    transform: none;
  }

  .logo {
    display: block;
  }

  .hamburger-menu {
    display: flex;
  }

  /* About */

  .title {
    margin-bottom: 61px;
  }

  .skills {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .column-desc {
    font-size: 0.8rem;
  }

  /* Project */

  .project-division {
    align-self: center;
    margin-bottom: 0;
  }

  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 40px;
    width: 100%;
    padding: 1rem 10vw 5rem;
    transition: all 0.3s;
  }

  /* Contact */

  #contact {
    min-height: calc(var(--vh, 1vh) * 100 - 70px);
  }

  #contact .content {
    padding-top: 1rem;
  }
  #contact .text {
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .send-email {
    font-size: 7vw;
  }

  #contact .sub-text {
    font-size: 3.5vw;
  }

  /* Footer */
  #footer {
    height: 3.5rem;
  }

  #footer .content-bottom {
    padding: 0 2rem;
    font-size: 0.7rem;
  }

  .git-link-btn i {
    font-size: 1.5rem;
  }
}
